:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.card {
  border: solid black 1px;
  padding: 1em;
}

table, th, td{
  border: 1px black solid;
  border-collapse: collapse;
}